# Mojmap equivalent of the upstream surveyor.accesswidener
public net.minecraft.server.level.WorldGenRegion level
public net.minecraft.world.level.levelgen.structure.pools.SinglePoolElement template
public net.minecraft.world.level.levelgen.structure.pools.FeaturePoolElement feature
public net.minecraft.world.level.levelgen.structure.pools.ListPoolElement elements
public net.minecraft.world.level.levelgen.structure.PoolElementStructurePiece structureTemplateManager
public net.minecraft.world.level.chunk.LevelChunkSection nonEmptyBlockCount
public net.minecraft.nbt.ListTag <init>(Ljava/util/List;B)V
public net.minecraft.world.level.chunk.PalettedContainer data
public net.minecraft.world.level.chunk.PalettedContainer$Data
public net.minecraft.world.level.saveddata.maps.MapItemSavedData unlimitedTracking
